<section class="intro-home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img alt class="intro-home-img" src="./assets/img/profile-cartoon.jpg">
        <h2 class="intro-title">Hello Guys, I’m <strong>João Tomaz</strong></h2>
        <div class="typewriter">
          <p class="intro-tagline">I'am a <strong>Front End Developer</strong></p>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- TODO: Change to component social tags -->
        <div class="effect egeon">
          <div class="buttons">
            <a href="#" class="in" title="Join me on Linked In"><i class="fab fa-linkedin-in"
                                                                   aria-hidden="true"></i></a>
            <a href="#" class="in" title="Check me on Github"><i class="fab fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="content-wrap">
  <app-about-me></app-about-me>
  <app-skills></app-skills>
  <app-professional></app-professional>
</main>
