@import "bootstrap-variables";
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

.container-under-construction {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.bg-image-under-construction-parent {
  transform: scale(1.2, 1.2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bg-image-under-construction {
  background-image: url("../img/ucbackground.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-under-construction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.profile-img {
  background-image: url("../img/profile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
}

.card.under-construction {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 25px -9px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0 0 25px -9px rgba(0, 0, 0, 0.52);
  box-shadow: 0 0 25px -9px rgba(0, 0, 0, 0.52);
}

.social-github {
  mask: url("../img/github.svg");
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  background: black;
  margin: 5px;
}

.social-github:hover,
.social-github:focus {
  background: #ff6a13;
}

.social-linkedin {
  mask: url("../img/linkedin.svg");
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  background: black;
  margin: 5px;
}

.social-linkedin:hover,
.social-linkedin:focus {
  background: #ff6a13;
}

.profile-name {
  //text-decoration: underline;
  //text-decoration-color: #ff6a13;
  margin-bottom: 20px;
}

.typewriter h2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto 10px;
  animation: typing 3.5s steps(40, end);
}


@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}
