<div style="position: relative">
  <a id="projects" style="position: absolute; top: -70px; left: 0;"></a>
</div>
<section>
  <div class="section-shape">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title">Projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="projects-box">
          <img src="./assets/img/svg/web.svg" alt>
          <div class="project-session">
            <span>07/2018 - 09/2018</span>
          </div>
          <div class="project-info-text">
            <h2 class="block-title">Asio</h2>
            <h6 class="company-name mb-4 mt-2">
              Knowledgeworks
            </h6>
            <p>Back End Developer for an internal project. The project consists of a
              marketeer portal to create close relationships by providing a unique and dynamic experience communicating
              promotions, events or even information about your business.</p>
          </div>
          <div class="project-link">
            <a href="https://www.asio.pt/" target="_blank">Go To Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="projects-box">
          <img src="./assets/img/svg/mobile.svg" alt>
          <div class="project-session">
            <span>11/2018 - 12/2019</span>
          </div>
          <div class="project-info-text">
            <h2 class="block-title">K1 - Mobile</h2>
            <h6 class="company-name mb-4 mt-2">
              Knowledgeworks
            </h6>
            <p>Aplicação mobile para gestão de produtos na area de telecomunicações. Desenvolvida com frameworks Ionic
              fiz parte da equipa de front end onde adquiri novos conhecimentos sobre esta framework.</p>
          </div>
          <div class="project-link">
            <a>Go To Project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="projects-box">
          <img src="./assets/img/svg/web.svg" alt>
          <div class="project-session">
            <span>10/2018 - 01/2019</span>
          </div>
          <div class="project-info-text">
            <h2 class="block-title">Yo!</h2>
            <h6 class="company-name mb-4 mt-2">
              Knowledgeworks
            </h6>
            <p>Web application for employee management, qualifications, expenses, finance, projects and time recording.
              I participated in this project as a front end developer, where in the first phase I was only in bug fixing
              and later as feature developer.</p>
          </div>
          <div class="project-link">
            <a href="https://www.yoportal.pt/index_en.html" target="_blank">Go To Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="projects-box">
          <img src="./assets/img/svg/web.svg" alt>
          <div class="project-session">
            <span>01/2018 - 09/2019</span>
          </div>
          <div class="project-info-text">
            <h2 class="block-title">Portal das Matrículas</h2>
            <h6 class="company-name mb-4 mt-2">
              Knowledgeworks
            </h6>
            <p>Front end developer at the School Enrollment Portal for the ministry of education. I participated from
              the beginning in this project, and helped in the front end architecture. Decision making and choices.</p>
          </div>
          <div class="project-link">
            <a href="http://https//portaldasmatriculas.edu.gov.pt" target="_blank">Go To Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
