<div style="position: relative">
  <a id="projects" style="position: absolute; top: -70px; left: 0;"></a>
</div>
<section>
  <div class="section-shape">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title">Projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="projects-box">
          <div class="project-session">
            <span>Dez/2018 - Set/2019</span>
          </div>
          <div class="project-info-text">
            <h2 class="block-title">Portal das Matrículas</h2>
            <h6 class="company-name mb-4 mt-2">
              Knowledgeworks
            </h6>
            <p>Front-end developer in Portuguese Education School Enrollments for Ministry of Education. Participate from
              the beginning helping building the architecture of the front end.</p>
          </div>
          <div class="project-link">
            <a href="http://https//portaldasmatriculas.edu.gov.pt" target="_blank">Go To Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
