<div style="position: relative; height: 0">
  <a id="skills" style="position: absolute; top: -70px; left: 0;"></a>
</div>
<section class="bg-grey">
  <div class="section-shape">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title">SKILLS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h4 class="skill-title">Development Skills</h4>
        <div class="skill">
          <p class="skill-name">Angular 2+</p>
          <app-progress-bar [animated]="true"
                            [height]="50"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">TypeScript</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">HTML5</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
      </div>
      <div class="col-lg-6">
        <h4 class="skill-title">Design Skills</h4>
        <div class="skill">
          <p class="skill-name">PhotoShop</p>
          <app-progress-bar [animated]="true"
                            [height]="50"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="1"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">Bootstrap</p>
          <app-progress-bar [animated]="true"
                            [height]="50"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="1"
                            type="skill">
          </app-progress-bar>
        </div>
      </div>
      <div class="col-sm-12 text-center mt-5">
        <button [routerLink]="[skills]" class="btn btn-theme btn-active mr-md-3">See More Skills</button>
      </div>
    </div>
  </div>
</section>
