<div style="position: relative">
  <a id="about" style="position: absolute; top: -70px; left: 0;"></a>
</div>
<section class="about-me">
  <div class="section-shape">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title">ABOUT ME</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <img alt class="grayscale-img" src="./assets/img/joao_tomaz_nbg.png" style="max-width: 100%">
      </div>
      <div class="col-lg-8 about-me-text">
        <p class="lead my-4">
          Hi, I'm <b>João Tomaz</b>, a Front End developer. I'm Portuguese and you can find me on
          <a class="link-twitter" href="https://twitter.com/vanishdarks" target="_blank">Twitter</a>,
          <a class="link-linkedin" href="https://www.linkedin.com/in/joão-tomaz">LinkedIn</a> and
          <a class="link-github" href="https://github.com/vanishdark">Github</a>.
        </p>
        <p class="mb-5">
          I started my career in 2018 as a backend developer. I soon realized that this was not what I wanted for my
          future and after an opportunity as a front end developer came up, I realized "That's my Jam" and started
          developing a taste for the Angular framework. Now with {{getYearDifference()}} of experience I feel confident as a developer. I
          am always looking for new challenges and adversities, learning how to solve and overcome them.
        </p>
        <div class="personal-info">
          <h4 class="personal-info-title">Personal Information</h4>
          <ul class="list-inline clearfix mb-4">
            <li>
              <strong>Full Name :</strong>
              João Tomaz
            </li>
            <li>
              <strong>Birthday :</strong>
              13 February 1991
            </li>
            <li>
              <strong>Email :</strong>
              joaotomas13@gmail.com
            </li>
            <li>
              <strong>Phone :</strong>
              +351 924 166 235
            </li>
            <li>
              <strong>Job :</strong>
              Front End Developer
            </li>
            <li>
              <strong>Skype :</strong>
              live:.cid.72ca8c80b6ef0e2b
            </li>
          </ul>
          <a class="btn btn-theme btn-active mr-md-3" href="#">Download Curriculum</a>
          <a class="btn btn-theme " href="mailTo:joaotomas13@gmail.com">Get in touch now</a>
        </div>
      </div>
    </div>
  </div>
</section>
