<div style="position: relative; height: 0px">
  <a id="top" style="position: absolute; top: -100px; left: 0;"></a>
</div>
<section class="detailed">
  <div class="section-shape">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-5">
        <h2 class="section-title">SKILLS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="skill-title">Programming Languages And Scripting</h4>
        <div class="skill">
          <p class="skill-name">J2SE (Version 5, 6)</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="1"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">JEE (Version 8)</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="2"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">Typescript</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">HTML5</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">CSS & SCSS</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <h4 class="skill-title">Database</h4>
        <div class="skill">
          <p class="skill-name">SQL Server</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="2"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">Oracle</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="2"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">MySQL</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="2"
                            type="skill">
          </app-progress-bar>
        </div>
        <h4 class="skill-title">Mobile</h4>
        <div class="skill">
          <p class="skill-name">Ionic 3</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="2"
                            type="skill">
          </app-progress-bar>
        </div>
        <h4 class="skill-title">Application Frameworks/Platforms</h4>
        <div class="skill">
          <p class="skill-name">jQuery</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="2"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">Angular</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">Hibernate</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="2"
                            type="skill">
          </app-progress-bar>
        </div>
        <h4 class="skill-title">Application Tools</h4>
        <div class="skill">
          <p class="skill-name">IntellIJ</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">WebStorm</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">Git</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
      </div>
      <div class="col-12">
        <h4 class="skill-title">Methodologies</h4>
        <div class="skill">
          <p class="skill-name">Scrum</p>
          <app-progress-bar [animated]="true"
                            [height]="'50'"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="3"
                            type="skill">
          </app-progress-bar>
        </div>
        <h4 class="skill-title">Other Skills</h4>
        <div class="skill">
          <p class="skill-name">PhotoShop</p>
          <app-progress-bar [animated]="true"
                            [height]="50"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="1"
                            type="skill">
          </app-progress-bar>
        </div>
        <div class="skill">
          <p class="skill-name">Bootstrap Studio</p>
          <app-progress-bar [animated]="true"
                            [height]="50"
                            [max]="4"
                            [showValue]="false"
                            [striped]="true"
                            [value]="1"
                            type="skill">
          </app-progress-bar>
        </div>
      </div>
    </div>
  </div>
</section>
