<div class="container-under-construction">
  <div class="bg-image-under-construction-parent">
    <div class="bg-image-under-construction"></div>
  </div>

  <div class="box-under-construction">
    <h1>This Page is Under Construction</h1>
    <div class="card under-construction">
      <div class="card-body">
        <div class="profile-img"></div>
        <div class="typewriter">
          <div class="profile-name">
            <h2>Hello Guys, I’m João Tomaz</h2>
          </div>
        </div>
        <h4>I'm building my new Resume page.</h4>
        <h5>Meanwhile you can check my professional information here</h5>
        <a class="social-linkedin" href="https://www.linkedin.com/in/jo%C3%A3o-tomaz/" target="_blank"></a>
        <a class="social-github" href="https://github.com/vanishdark" target="_blank"></a>
      </div>
    </div>
  </div>
</div>

